table.pt-table{
  border: .1rem solid rgba(16, 22, 26, 0.15);
  border-collapse: collapse;
  th {
    padding: .2rem;
    text-align: left;
    td {
      padding: 0 0.4rem;
    }
  }
  tr:hover {
    background: rgba(16, 22, 36, 0.15);
  }
  .pt-icon-more{
    border: 1px solid red;
    width: 4rem;
    height: 4rem;
  }
}

