.menu-wrapper{
  position: absolute;
  width: 12rem;
  border: 0.1rem solid rgba(16, 22, 26, 0.15);
  border-radius: .2rem;
  box-shadow: 0 .25rem .5rem rgba(16, 22, 26, 0.15);
  z-index: 10;

  &.hidden{
    display: none;
  }
}